<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebRTC GUI</a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-left">

	  	<li><!-- ng-class="{ 'disabled' : !state.initialized || !state.registered }" -->
	  		<button type="button" class="btn btn-primary navbar-btn" ng-click="openSuppModal()" ><span class="glyphicon glyphicon-cog"></span> Services</button>
	  	</li>       
      </ul>
      
      <ul class="nav navbar-nav navbar-right">

	  	<li>
			

	  	<li>
	  		<p class="navbar-text" ng-if="state.registered">Connected</p>
	  		<p class="navbar-text" ng-if="!state.registered">Disconnected</p>
	  	</li>

        <li>
        	<button ng-class="{ 'disabled' : !state.initialized || state.registered }" type="button" class="btn btn-success navbar-btn" ng-click="createSipStack()"><span class="glyphicon glyphicon-log-in"></span> Register</button>
        	<button ng-class="{ 'disabled' : !state.initialized || !state.registered }" type="button" class="btn btn-danger navbar-btn" ng-click="sipUnregister()"><span class="glyphicon glyphicon-log-out"></span> Unregister</button>
        </li>
        
        
        <li>
			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span ng-class="{ 'text-success' : state.registered }" class="glyphicon glyphicon-user"></span> {{ curSIPcred.display }} <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a ng-repeat="cred in SIPcred" ng-click="setCred($index)">{{ cred.display }}</a></li>
          </ul>
        </li>
       
      </ul>
    </div>
  </div>
</nav>

<div ng-if="alert" class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  {{ alert }}
</div>

<!-- Call controls container -->
<div ng-if="state.registered">
	<div ng-if="!state.incomingCall">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<input ng-model="callOptions.calleeNumber" type="tel" class="form-control" placeholder="Enter telephone number">
			</div>
		</div>
		
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-4 col-md-offset-4" style="text-align: center;">
				<button ng-click="sipCall()" ng-if="!state.call" ng-class="{ 'disabled' : !callOptions.calleeNumber }" type="button" class="btn btn-success" style="width: 200px;">
					<span class="glyphicon glyphicon-earphone"></span>
					<span>Call</span>
				</button>
				
				<button ng-click="sipHangup()" ng-if="state.call" type="button" class="btn btn-danger" style="width: 200px;">
					<span class="glyphicon glyphicon-arrow-down"></span>
					<span>Hangup</span>
				</button>
				
			</div>
		</div>
		
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-4 col-md-offset-4" style="text-align: center;">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="callOptions.enableOIR">
						Hide my number (OIR/CLIR)
					</label>
				</div>				
			</div>
		</div>
		
		<div ng-if="state.call" class="row" style="margin-top: 20px;">
			<div class="col-md-4 col-md-offset-4" style="text-align: center;">
				<button ng-click="sipTransfer()" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-share-alt"></span>
					<span>Transfer call</span>
				</button>
				
				<button ng-click="sipHold()" ng-if="!state.hold" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-pause"></span>
					<span>Hold</span>
				</button>
				
				<button ng-click="sipResume()" ng-if="state.hold" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-play"></span>
					<span>Resume</span>
				</button>
				
			</div>
		</div>
		
		
	</div>
	
	
	<div ng-if="state.incomingCall">
		<div class="row">
			<div class="col-md-4 col-md-offset-4" style="text-align: center;">
				<button ng-click="sipCallAnswer()" type="button" class="btn btn-success" style="width: 200px;">
					<span class="glyphicon glyphicon-earphone"></span>
					<span>Answer</span>
				</button>
				
				<button ng-click="sipHangup()" type="button" class="btn btn-danger" style="width: 200px;">
					<span class="glyphicon glyphicon-arrow-down"></span>
					<span>Dismiss</span>
				</button>
				
			</div>
		</div>
		
	</div>
	
	
</div>

	

	<audio id="audio_remote" autoplay="autoplay" />


</div>

