<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebRTC GUI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
        	<button ng-class="{ 'disabled' : !initialized || registered }" type="button" class="btn btn-success navbar-btn" ng-click="createSipStack()">Connect</button>
        	<button ng-class="{ 'disabled' : !initialized || !registered }" type="button" class="btn btn-danger navbar-btn" ng-click="sipUnregister()">Disconnect</button>
        </li>
        
        <li ng-if="registerSession">
        	session exists
        </li>
        
        <li>
			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> 034130827545 <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">043130827545</a></li>
				<li><a href="#">043188888888</a></li>
				<li><a href="#">043112345677</a></li>
          </ul>
        </li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ng-if="alert" class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  {{ alert }}
</div>

