<div class="modal-header">
	<h3 class="modal-title">Supplementary Services</h3>
</div>
<div class="modal-body">
	
<h4>Call Forward Unconditional</h4>
	<div class="input-group">
      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-earphone"></span></span>
      <input ng-model="fields.cfudest" type="text" class="form-control" placeholder="Destination number">
      <span class="input-group-btn">
        <button ng-click="suppServ('cfuenable')" class="btn btn-success" type="button">Enable</button>
        <button ng-click="suppServ('cfudisable')" class="btn btn-warning" type="button">Disable</button>
      </span>
    </div>

<h4>Call Forward No Reply</h4>
	<div class="input-group">
      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-earphone"></span></span>
      <input ng-model="fields.cfnrdest" type="text" class="form-control" placeholder="Destination number">
      <span class="input-group-btn">
        <button ng-click="suppServ('cfnrenable')" class="btn btn-success" type="button">Enable</button>
        <button ng-click="suppServ('cfnrdisable')" class="btn btn-warning" type="button">Disable</button>
      </span>
    </div>

<h4>Call Forward Busy</h4>
	<div class="input-group">
      <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-earphone"></span></span>
      <input ng-model="fields.cfbdest" type="text" class="form-control" placeholder="Destination number">
      <span class="input-group-btn">
        <button ng-click="suppServ('cfbenable')" class="btn btn-success" type="button">Enable</button>
        <button ng-click="suppServ('cfbdisable')" class="btn btn-warning" type="button">Disable</button>
      </span>
    </div>
	
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">Close</button>
</div>




